<div class="wrapper wrapper-tab">
  <h1 class="dash-title text-center">Hello <span><%= current_user.first_name %></span></h1>
  <div class="tabs text-center">
    <%= link_to "CALENDAR", dashboard_path, class: "tab" %>
    <%= link_to "BOOKMARKS", dashboard_bookmarks_path, class: "tab-active" %>
  </div>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="booking-list">
            <%= link_to 'See what your friends are up to', '/#inspiration-card', class: 'btn btn-danger btn-block' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="booking-list">
            <h3 class="title-home"><span>EVENTS</span></h3>
            <!-- current_user.votes.for_type(Event) => could be current_user.events -->
            <% current_user.find_voted_items.each do |vote| %>
            <% if vote.class == Event %>
            <div class='event-list-item' id="bookmark-event-<%= vote.id %>">
              <%= link_to "", event_path(vote) %>

              <div class="info info-dash">
                <div class="event-name-price align-items-end">
                  <h4><%= vote.name.upcase.truncate(25, omission: '', separator: /,?\.* +/) %></h4>
                  <div class="action-btns">
                    <div class="bookmark-heart">
                      <%= link_to downvote_event_path(vote), class: "heart-bookmark", method: :put, remote: true do %>
                      <p class="glyphicon glyphicon-heart"></p>
                      <% end %>
                    </div>
                    <div class="bookmark-buy">
                      <%= link_to new_event_booking_path(vote) do %>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="detail-info">
                  <p class="event-date"><%= vote.date.strftime('%d/%m/%y') %></p>
                  <p class="text-category"> <%= vote.category.upcase %> </p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="booking-list">
            <h3 class="title-home"><span>VENUES</span></h3>
            <% current_user.find_voted_items.each do |vote| %>
            <% if vote.class == Venue %>
            <div class="event-list-item" id="bookmark-venue-<%= vote.id %>">
              <%= link_to "", venue_path(vote) %>
              <div class="info info-dash">
                <div class="event-name-price align-items-end">
                  <h4><%= vote.name.upcase.truncate(35, omission: '', senameparator: /,?\.* +/) %></h4>
                  <div class="action-btns venue-btn">
                    <div class="bookmark-heart">
                      <%= link_to downvote_venue_path(vote), class: "heart-bookmark", method: :put, remote: true do %>
                      <p class="glyphicon glyphicon-heart"></p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="detail-info detail-info-venue">
                  <p><%= vote.address %></p>
                  <p class="hosting">Hosting <strong><%= Event.where(venue: vote.id).count %> events</strong></p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
