<h1>Hello <%= current_user.first_name %></h1>
<div class="booked-section">
    <div class="card-booked">
      <h3>Your events:</h3>
      <% @bookings.each do |booking| %>
      <div class='list'>
        <%= booking.event.date.day %>.<%= booking.event.date.month %>.<%= booking.event.date.year %> -
        <%= link_to booking.event.name, event_path(booking.event), class: "link" %>
      </div>
      <% end %>
    </div>

  <div id="map" style="width: 100%; height: 600px;"></div>

</div>

<!-- javascript -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
