<div class="wrapper wrapper-search">
  <!-- Page container -->
  <div class="container container-search">


    <!-- FORM FOR FILTER: TO DO #############
    <div class="filter-bar">
      <div class="form-fields">
        <%= simple_form_for "", html: {method: "GET", :class => 'form-inline'} do |f| %>

        <%= f.input :city, placeholder: "Where are you?", class: "input-form form-control" %>
        <%= f.input :category, collection: Event::CATEGORY, class: "input-form form-control", prompt: "What are you looking for?" %>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker form-control' }, placeholder: "  When?" %>
        <%= f.button :submit, class: "btn btn-danger", value: "Search" %>
        <% end %>
      </div>
    </div>
    ###########################################


    ##### CODE ON INTERNET ########
    <%if params.has_key?(:tag)%>
    <%tag_ids = params[:tag][:ids]%>
    <%else%>
    <%tag_ids = Array.new%>
    <%end%>


    <%= form_tag users_path, :method => 'get' do %>
    <%= collection_check_boxes :options, :tag_ids, Tag.order(:name), :id, :name, {multiple: true} %>
    <%= text_field_tag :search, params[:search], :placeholder => "Search", :id => "query" %>
    <%= submit_tag "Search", :name => nil, :style => "float:left;"%>
    <% end %>
    ##################################
  -->



    <!-- Card container -->
    <div class="cards">
      <% @events.each do |event| %>
      <div class='event-card'>
        <%= link_to "", event_path(event) %>
        <div class="img-card" style="background-image: url('<%= cl_image_path(event.photo) %>');"></div>
        <div class="info">
          <h3><span><%= event.name %></span></h3>
          <p class="event-date"><%= event.date.day %> / <%= event.date.month %> / <%= event.date.year %></p>
          <p class="desc"><%= event.description.split.slice(0, 5).join(" ") %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- Map container -->
  <div id="map-search" ></div>
</div>

<!-- javascript -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map-search' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>

