<div class="wrapper">
  <div class="header-event">
    <div class="img-event" style="background-image: url('https://source.unsplash.com/random/900x400')"></div>
    <p class="date-event"> <%= @event.date %> </p>
    <h1><span><%= @event.name %></span></h1>
    <p class="event-category"><span> <%= @event.category %></span> </p>
  </div>
  <div class="container container-margin-top">
    <div class="flex-desc">
      <div class="event-desc">
        <h4>ABOUT</h4>
        <p><%= @event.description %></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <%= link_to 'Go back', root_path %>
      </div>
      <div class="box-event">
        <div class="price">
          <p>Price</p>
          <p> <%= @event.price %> € </p>
        </div>
        <div class="form-group">
          <%= simple_form_for [@event, Booking.new] do |f| %>
          <%= f.button :submit, class: "btn btn-danger event-input", value: "Book now!" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
   <div id="map" style="width: 100%; height: 600px;"></div>

</div>

<!-- Gmaps js: building the map -->
<!-- javascript -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
