<div class='suggestion-wrapper'>
  <h1>Suggestions for you</h1>

<div class="container">
  <% @events.each do |event| %>
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class='eventcard'>
      <h3><%= event.name %></h3> <br>
      <%= event.date.day %>.<%= event.date.month %>.<%= event.date.year %> <br>
      <div class="desc"><%= event.description.split.slice(0, 5).join(" ") %></div>
      <%= link_to 'More', event_path(event) %>
    </div>
  </div>
  <% end %>
</div>

</div>
