<div class="banner" style='background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), url("https://images.unsplash.com/photo-1485518994577-6cd6324ade8f?auto=format&fit=crop&w=944&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");'>
  <div class="container text-center">
    <div class="banner-content">
      <%= image_tag "apollo_logo_fascia-02.png", id: "logo-home" %>
      <p>Discover cultural experiences in your city</p>

      <!-- class="form-inline" -->
      <div class="search-form-bar">
        <div class="form-fields">
          <%= simple_form_for @event, url: search_events_path, html: {method: "GET", :class => 'form-inline'} do |f| %>
          <%= f.input :city, placeholder: "Where are you?", class: "input-form" %>
          <%= f.input :category, collection: Event::CATEGORY, class: "input-form" %>
          <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='wrapper'>
  <div class="container text-center">
    <h1>Be inspired</h1>
    <div class="cards">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class='eventcard'>
            <h3><%= event.name %></h3> <br>
            <%= event.date.day %>.<%= event.date.month %>.<%= event.date.year %> <br>
            <div class="desc"><%= event.description.split.slice(0, 5).join(" ") %></div>
            <%= link_to 'More', event_path(event) %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
