<div class="container text-center">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">

      <h1>Apollo</h1>
      <p>Discover cultural experiences in your city</p>

      <!-- class="form-inline" -->
      <%= simple_form_for @event, url: search_path, html: {method: "GET"} do |f| %>
      <%= f.input :city %>
      <%= f.input :category, collection: Event::CATEGORY %>
      <%= f.input :date %>
      <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>

<div class='suggestion-wrapper'>
  <h1>Suggestions for you</h1>

  <div class="container">
    <% @events.each do |event| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class='eventcard'>
        <h3><%= event.name %></h3> <br>
        <%= event.date.day %>.<%= event.date.month %>.<%= event.date.year %> <br>
        <div class="desc"><%= event.description.split.slice(0, 5).join(" ") %></div>
        <%= link_to 'More', event_path(event) %>
      </div>
    </div>
    <% end %>
  </div>

</div>
