<h1>Events</h1>
<p>here you can see all the events:</p>




<div class="container text-center">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">

      <h1>Apollo</h1>
      <p>Discover cultural experiences in your city</p>

      <!-- class="form-inline" -->
      <%= simple_form_for @events do |f| %>
      <%= f.input :city %>
      <%= f.input :category, collection: Events::CATEGORY.all %>
      <%= f.input :date %>
      <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>



<ul>
  <% @events.each do |event| %>
  <li> <b>  <%= event.name %> </b><%= event.date %></li>
  <% end %>
</ul>

