<div class="banner" style='background-image: linear-gradient(-225deg, rgba(29,0,16,0.6) 0%, rgba(14,15,15,0.6) 20%), url("https://images.unsplash.com/photo-1485518994577-6cd6324ade8f?auto=format&fit=crop&w=944&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");'>
  <div class="container text-center">
    <div class="banner-content">
      <%= image_tag "apollo_logo_fascia-02.png", id: "logo-home" %>
      <p>Discover cultural experiences in your city</p>

      <!-- class="form-inline" -->
      <div class="search-form-bar">
        <div class="form-fields">
          <%= simple_form_for :search, url: events_path, html: {method: "GET", :class => 'form-inline'} do |f| %>
          <%= f.input :city, placeholder: "Where are you?", class: "input-form form-control" %>
          <%= f.input :category, collection: Event::CATEGORY, class: "input-form form-control", prompt: "What are you looking for?" %>
          <%= f.input :date, as: :string, input_html: { class: 'datepicker form-control' }, placeholder: "  When?" %>
          <%= f.button :submit, class: "btn btn-danger", value: "Search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='wrapper-card'>
  <h1 class="text-center"><span>Be inspired</span></h1>
  <div class="container container-card">

    <div class="cards">
      <% @events.each do |event| %>
      <div class='event-card'>
        <%= link_to "", event_path(event) %>
        <div class="img-card" style="background-image: url('<%= cl_image_path(event.photo) %>');"></div>
        <div class="info">
          <h3><span><%= event.name %></span></h3>
          <p class="event-date"> <%= event.date.day %> / <%= event.date.month %> / <%= event.date.year %></p>
          <p class="desc"><%= event.description.split.slice(0, 5).join(" ") %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
