<div class="wrapper wrapper-home">
  <div class="banner banner-home">
  <div class="navbar-home">
    <% if user_signed_in? %>
    <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

    <div class="container text-center">
      <div class="banner-content">
        <%= image_tag "apollo_logo_fascia-02.png", id: "logo-home" %>
        <p>Discover cultural experiences in your city</p>

        <!-- class="form-inline" -->
        <div class="search-form-bar">
          <div class="form-fields">
            <%= simple_form_for :search, url: events_path, html: {method: "GET", class: "form-inline", id: "home-form"} do |f| %>
            <%= f.input :city, placeholder: "Where?", input_html: { class: "input-form form-control" }, label: false %>
            <%= f.input :date, as: :string, input_html: { class: "datepicker input-form form-control" }, label: false, placeholder: "When?" %>
            <%= f.input :mood, as: :hidden, input_html: { id: "hidden-mood"}, value: "" %>
            <% f.button :submit, as: :hidden, value: "Search", input_html: { id: "hidden-search"} %>
            <% end %>
          </div>
        </div>
      </div>
      <a href="#inspiration-card" class="be-inspired">
        <div class="text-center">
          <!-- <p>BE INSPIRED</p> -->
          <div class="director"><%= image_tag "bar-04.png" %> </div>
        </div>
      </a>
    </div>
  </div>


  <p class="text-center title-moods">WHAT DO YOU FEEL LIKE?</p>
  <div class="container container-moods">
    <div class="flex-list">
      <ul class="list-inline text-center list-moods">
        <li id="romantic" data-mood="Romantic">
          <%= image_tag "icons-apollo-02.png" %>
          <p>ROMANTIC</p>
        </li>
        <li id="wild" data-mood="Wild">
          <%= image_tag "icons-apollo-01.png" %>
          <p>WILD</p>
        </li>
        <li id="nerdy" data-mood="Nerdy">
          <%= image_tag "icons-apollo-04.png" %>
          <p>NERDY</p>
        </li>
        <li id="glamorous" data-mood="Glamorous">
          <%= image_tag "icons-apollo-05.png" %>
          <p>GLAMOROUS</p>
        </li>
        <li id="dramatic" data-mood="Dramatic">
          <%= image_tag "icons-apollo-03.png" %>
          <p>DRAMATIC</p>
        </li>
      </ul>
    </div>
  </div>
  <p data-search="Search" class="normal-search text-center">or Search without moods</p>
</div>

<div class='wrapper-card' id="inspiration-card">
  <div class="container container-card">
   <div class="cards cards-home">
    <p class="title-home text-center"><span>Our latest discoveries</span></p>
    <% @events.each do |event| %>
      <div class='event-card'>

        <%= link_to "", event_path(event), class: "card-link" %>
          <div class="img-card" style="background-image: url('<%= cl_image_path(event.photo) %>');"></div>
          <div class="info">
            <div class="event-name-price">
              <h3><span><%= event.name.truncate(20, omission: '', separator: /,?\.* +/) %></span></h3>
              <% if event.price == 0 %>
              <p> FREE </p>
            <% else %>
              <p> <%= event.price %> € </p>
            <% end %>
            </div>
            <div class="detail-info">
              <p class="event-date"><%= event.date.day %> / <%= event.date.month %> / <%= event.date.year %> - <%= event.venue.name %></p>
              <p class="text-category"> <%= event.category %> </p>
            </div>
            <div class="desc-likes">
              <p class="desc"><%= event.description.truncate(100, omission: '...', separator: /,?\.* +/) %></p>
              <div class="likes">
                <% if user_signed_in? %>
                <%= link_to upvote_event_path(event), class: "heart-bookmark", method: :put, remote: true do %>
                <p class="glyphicon glyphicon-heart<%= current_user.voted_for?(event) ? '' : '-empty' %>" id="bookmark-<%= event.id %>"></p>
                <% end %>
                <% else %>
                <%= link_to new_user_registration_path, class: "heart-bookmark" do %>
                <p class="glyphicon glyphicon-heart-empty"></p>
                <% end %>
                <% end %>
              </div>
            </div>
            <div class="friend-bookings">
              <% if user_signed_in? %>
                <% current_user.friends.each do |friend| %>
                  <% if friend.present? %>
                    <% friend.bookings.each do |booking| %>
                      <% if booking.present? && booking.event_id == event.id %>
                      <%= image_tag(friend.facebook_picture_url, class: "fb-user", title: friend.first_name, data: { title: friend.first_name, toggle: "tooltip", placement: "top" } ) %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
</div>





