<div class="wrapper wrapper-session">
  <div class="container">

      <%#= image_tag "apollo_logo_fascia-02.png", class: "logo-login" %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 log-in">
        <h2>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, placeholder: 'E-mail', input_html: { class: "input-form-index" } %>
          <%= f.input :password, required: false, placeholder: 'Password', input_html: { class: "input-form-index" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn btn-danger btn-block' %>
        </div>
        <% end %>
        <div class="buttons-links">
          <p>Don't have an account? <strong><a href="/users/sign_up">Sign up</a></strong></p>
          <p>Or <strong><a href="/users/auth/facebook">Sign in with Facebook</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
