<div class="wrapper wrapper-session">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 log-in">
        <h3>Booking details:</h3>
        <div class="payment-details">
          <h4 class="title-checkout"><span ><%= truncate(@event.name.upcase, length: 60, omission: "...") %></span> </h4>  <br>
          <p>Date: <%= @event.date.day %>.<%= @event.date.month %>.<%= @event.date.year %> <br>
           Venue: <%= @event.venue.name %></p>
         </div>
         <div class="payment-details price">
          <p> Quantity: <%= @booking.quantity %>x</p>
          <p class="pay"><%= @booking.amount_cents. / 100 %>€</p>
        </div>
        <% if @booking.amount_cents == 0 %>
          <%= link_to 'Book for free', @booking, class: "btn btn-danger btn-block event-input" %>
        <% else %>
          <%= form_tag event_booking_payments_path(@booking.event, @booking) do %>
          <article>
            <label class="amount">
              <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
            </label>
          </article>


        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Booking"
        data-email="<%= current_user.email %>"
        data-description= "<%= @event.description %>"
        data-amount="<%= @booking.amount_cents %>"
        data-currency="<%= @booking.amount.currency %>"></script>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
